<div class="jumbotron">
  <h1>Welcome!</h1>
  <button class="btn btn-info btn-lg"><%= link_to "Sign Up", new_user_url %></button>
  <button class="btn btn-info btn-lg"><%= link_to "Sign In", new_session_url %></button>
<br>
<row>
Once signed in you can create new recipes and ingredients, manage your own inventory, and use it to search for stuff you can make.   Create shopping lists based on what you still need.  Search by recipe name or by ingredient.  Start by creating an account or by selecting one of the other options at the top.

<br>
<br>

This site is called 'ugly' for obvious reasons. A couple of pages are well and truly hideous.  But it works fairly well.  I was able to integrate form validation, user authentication and authorization (on the personalized ingredient lists), a little javascript for the recipe creation, and editing of all the models.
</row>

</div>